# Copy to .env and fill values
NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/corner-stone
JWT_SECRET=your_jwt_secret_here


# Chapa Configuration
CHAPA_SECRET_KEY=your_chapa_secret_key
# (Optional) BACKEND_URL and FRONTEND_URL for callback/return URLs
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:5173/

# Email Configuration (mail trap)
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=you@example.com
EMAIL_PASS=supersecret
FROM_NAME=Corner Stone Charity
FROM_EMAIL=noreply@cornerstone.com

